* {
  margin: 0px;
  padding: 0px;
}
.logo-photo {
  width: 120px;
}
.menu-container {
  background-color: rgb(32, 32, 32);
  padding: 20px;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menus {
  display: flex;
}
.item {
  margin-right: 20px;
  padding-right: 7px;
  font-size: 18px;
  cursor: pointer;
}
.item:hover {
  font-size: 25px;
  font-weight: bold;
  /* font-style: oblique; */
}
.banner-img {
  width: 300px;
}
.banner-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  color: aliceblue;
  align-items: center;
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-size: 55px;
  font-weight: bold;
}
.description {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  color: white;
  background-color: #ff5e3a;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: #ff5e3a;
  cursor: pointer;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  /* flex-direction: row-reverse; */
}
.about-title {
  text-align: center;
  padding-top: 20px;
}
.details-btn {
  padding: 10px 20px;
  color: white;
  background-color: #4b4847;
  border: none;
  border-radius: 5px;
}

.details-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #4b4847;
  cursor: pointer;
}

.box {
  width: 230px;
  height: 380px;
  box-shadow: 4px 4px 50px grey;
  background-color: rgb(51, 50, 50);
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 0px 30px 0px 30px;
}

.icon {
  width: 100px;
}

.box-title {
  padding: 10px;
}
.box-description {
  margin-bottom: 10px;
  padding: 10px;
}

.service-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.service-bg {
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
  height: 600px;
  margin-top: 20px;
}
#service-color {
  color: white;
}

.footer-container {
  display: flex;
  width: 75%;
  height: 60vh;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  /* padding: 20px; */
  border-bottom: 1px solid gray;
}

.logo-box {
  width: 25%;
}
.logo-box img {
  width: 170px;
}
.logo {
  width: 100px;
  padding: 5px;
}
.icons {
  /* text-align: center; */
  margin-top: 20px;
}
.footer-title {
  margin-bottom: 30px;
}
footer {
  width: 100%;
  height: 70vh;
  background-image: url("./asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: white;
  line-height: 1.8em;
  text-align: center;
}
